@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Regular.ttf');
    font-weight: 400;
}

body {
    background-color: #C6C6C6;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 67px;
    border: 2px solid black;
    border-bottom: 1px solid #C6C6C6;
    margin: 0 auto;
    padding: 0 10px;
    /* background-color: #C6C6C6; */
    background-color: white;
    box-sizing: border-box;
    /* border-radius: 10px; */
}

.your-avatar,
.img-logo {
    height: 30px;
    /* border-radius: 50%; */
}

/* .post, */
#posts-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 375px;
    height: 1700px;
    margin: 0 auto;
    border: 2px solid black;
    /* padding: 0 10px; */
    border-top: none;
    box-sizing: border-box;
}

.profile {
    display: flex;
    /* font-weight: lighter; */
    padding: 8px 10px;
}

.name {
    font-weight: bolder;
}

.name,
.location {
    /* padding: 0; */
    margin: 0;
    font-size: small;
}

.profile-avatar {
    width: 34px;
    border-radius: 50%;
}

.profile-details {
    margin: auto 0;
    padding-left: 12px;
}

.post {
    /* border: 2px solid black; */
    margin: 10px 0;
}

.post-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;  /* fills container, crops excess */
    padding: 10px 0;
    border-radius: 15px;
}

/* .post-img {
    display: block;
    border: 2px solid grey;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    overflow: hidden;
} */

.icons {
    /* border: 2px solid grey; */
    padding: 2px 0;
    /* padding: 0px 10px; */
    /* box-sizing: border-box; */
    /* width: 10px; */
}

.icon-like,
.icon-comment,
.icon-share {
    padding: 0 10px;
    transition: transform 0.5s ease;
    width: 25px;
}

.icon:hover {
    transform: translateY(-2px);
}

.likes-count {
    /* border: 2px solid grey; */
    padding: 5px 10px;
    /* margin: 0; */
    font-weight: bold;
}

.caption {
    /* border: 2px solid grey; */
    /* border: 2px solid grey; */
    padding: 0 10px;
    /* margin: 0; */
    /* padding: 0; */

}

p {
    margin: 0;
    padding: 0;
}

.user-id {
    font-weight: bold;
}